body {
    background-color: #d0dad6;
}

.panel-main {
    margin-top: 40px;
    height: 160px;
    background-color: #154734;
    
}
.panel-content {
    margin-top: 3em;
    height: 20em;
    background-color: #d0dad6;
    border: none;
    text-align: justify;
    -webkit-box-shadow: none !important;
}

.panel-contact {
    background-color: #154734;
    margin-top: 2em;
    height: auto;
    text-align: center;
    border: none;
    color: white;
}

.contact-text {
    padding: 2em 0 2em 0;
}

.address{
    padding: 0 0 0 0;
}
.main-panel-title {
    color: white;
    font-size: 26px;
    text-align: center;
    padding: 1.7em;
}
.extended-title {
    font-size: 0.6em;
    font-style: italic
}

//media rules

@media screen and (max-width: 480px)  
{         
    .main-panel-title {
        font-size: 18px;
        padding: 1em;
    }
}  

@media screen and (max-width: 720px)  
{         
    .main-panel-title {
        font-size: 18px;
        padding: 1em;
    }
}  

@media screen and (max-width: 800px)  
{         
    .main-panel-title {
        font-size: 18px;
        padding: 1em;
    }
}  

@media screen and (max-width: 1024px)  
{         
    .main-panel-title {
        font-size: 18px;
        padding: 1em;
    }
}  
